.geography__pointer {
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0;
    margin-bottom: 12px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .geography__pointer {
        line-height: 12px;
    }
}