.travel__picture  {
    background: url(../../../images/__background.jpg) no-repeat;
    width: 100%;
    padding-bottom: calc(100% * 0.625);
    opacity: 0.8;
    transition: opacity ease-in-out 1s;
    object-fit: contain;
    margin: 0;
}

.travel__picture:hover {
    opacity: 0.3;
}