.journey__vector {
    position: absolute;
    top: 14%;
    left: 2%;
    z-index: 2;
    width: calc(100% - 46.26px);
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .journey__vector {
        width: calc(100% - 36.61px);
    }
}

@media screen and (max-width: 767.9px) and (min-width: 320px) {
    .journey__vector {
        width: calc(100% - 15.26px);
    }
}
